.classpath
.settings
.project
.build
.idea
.metadata
.gradle
.out

*.class
*.DS_Store
*.lock
*.swp
*.eml
*.iml
*.log
*.gradle
*classes

target
/target
out
/out
build
/build
gradle
/gradle
bin
rebel.xml
gradlew